@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    background-color: #18191c;
}

#wrapper {
    min-height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#gameCanvas {
    box-shadow: rgba(128, 0, 255, 0.5) 1px 10px 20px, rgba(128, 0, 255, 0.3) 0px 0px 0px 3px
}

#title {
    font-family: "Jersey 10", sans-serif;
    color: whitesmoke;
}